[user]
	name = farhad.hassani
	email = farhad.hassani@relexsolutions.com
[init]
	defaultBranch = master
[core]
    pager = delta
	excludesfile = /Users/farhad.hassani/.gitignore_global
	autocrlf = input

[include]
    path = /Users/farhad.hassani/themes.gitconfig

[delta]
    features = villsau
    # features = woolly-mammoth
    # plus-style = "syntax #012800"
    # minus-style = "syntax #340001"
    # syntax-theme = Monokai Extended
    # navigate = true
    # side-by-side = true

[interactive]
    diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/farhad.hassani/.stCommitMsg
